*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 1.75em; 
}

.row{
    width:100%;
}


.main{
    font-size: 1em;
    border: solid 1px black;
    height:150px;
    width:90%;
    background-color:lightblue;
    margin-right:auto;
    margin-left:auto;
    overflow: hidden;
    
}
h2{
    float:right;
    border: solid 1px black;
    width:30%;
    height:20%;
    text-align: center;
}

p{
    margin-top:10%;
    
}
.main1{
    background-color: bisque;
}
.main2{
    background-color: aquamarine;
}
.main3{
    background-color:chocolate;
}


/**********large devices***********/
@media(min-width:992px){
    .col-lg-1,.col-lg-2,.col-lg-3{
        float: left;
        width:33.3%; 
        
        
    } 
}

/******medium devices***********/
@media(min-width:768px) and (max-width:991px){
    .col-md-1,.col-md-2,.col-md-3{
        float: left;
        
    }
    .col-md-1{
        width:50%;
        
    }
    .col-md-2{
        width: 50%;
    }
    .col-md-3{
        width: 100%;
    }
    .col-md-3 >.main{
        margin-top: 10px;
        width:95%;
    }
}

/*****small devices********/
@media(max-width:767px){
    .col-lg-1,.col-lg-2,.col-lg-3{
        padding:10px;
    }
}